Repository kfstorm/douban-scout: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-lint, frontend-format, frontend-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.13.0
    hooks:
      - id: markdownlint-cli2
        exclude: ^backend/\.pytest_cache/

  - repo: local
    hooks:
      - id: backend-lint
        name: Backend Lint
        entry: bash backend/scripts/lint.sh
        language: system
        files: ^backend/
        pass_filenames: false

      - id: backend-test
        name: Backend Tests
        entry: bash backend/scripts/test.sh
        language: system
        files: ^backend/
        pass_filenames: false

      - id: frontend-lint
        name: Frontend Lint
        entry: npm --prefix frontend run lint
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: frontend-format
        name: Frontend Format Check
        entry: npm --prefix frontend run format:check
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend Typecheck
        entry: npm --prefix frontend run typecheck
        language: system
        files: ^frontend/
        pass_filenames: false

[frontend] fix DNS caching when backend containers are recreated
  frontend/docker-entrypoint.sh
  frontend/nginx.conf
Due: frontend-lint, frontend-format, frontend-typecheck

[frontend] optimize Docker build caching
  frontend/Dockerfile
Due: frontend-lint, frontend-format, frontend-typecheck

[backend] clean up expired poster cache
  backend/app/main.py
  backend/app/services/poster_service.py
  backend/tests/test_poster_cache.py
Due: backend-lint, backend-test

[backend] add configurable poster re-encoding
  README.md
  backend/app/config.py
  backend/app/services/poster_service.py
  backend/pyproject.toml
  backend/tests/test_poster_cache.py
  backend/uv.lock
Due: backend-lint, backend-test

[backend] add incremental database import
  backend/app/routers/data_import.py
  backend/app/services/import_service.py
  backend/tests/conftest.py
  backend/tests/test_services.py
Due: backend-lint, backend-test

[backend] pass movie id from data in insert batch
  backend/app/services/import_service.py
Due: backend-lint, backend-test

[backend] fix import review findings
  backend/app/services/import_service.py
Due: backend-lint, backend-test

[backend] drop temp delta table on a plain connection
  backend/app/services/import_service.py
Due: backend-lint, backend-test

[infra] add GitHub Actions CI via pre-commit
  .github/workflows/pre-commit.yml
  frontend/package-lock.json
Due: frontend-lint, frontend-format, frontend-typecheck

[infra] pin latest GitHub Actions versions
  .github/workflows/pre-commit.yml
Due: none

[infra] use exact setup-uv version tag
  .github/workflows/pre-commit.yml
Due: none

[infra] upgrade Node.js to 24 LTS and Debian 13
  .github/workflows/pre-commit.yml
  frontend/Dockerfile
Due: frontend-lint, frontend-format, frontend-typecheck

[infra] add Docker build validation workflow
  .github/workflows/docker-build.yml
Due: none

[infra] publish Docker images to GHCR on main
  .github/workflows/docker-build.yml
Due: none

ci: run pre-commit checks and publish Docker images to GHCR (#2)
  .github/workflows/docker-build.yml
  .github/workflows/pre-commit.yml
  frontend/Dockerfile
  frontend/package-lock.json
Due: frontend-lint, frontend-format, frontend-typecheck

feat(backend): incremental database import (#1)
  backend/app/routers/data_import.py
  backend/app/services/import_service.py
  backend/tests/conftest.py
  backend/tests/test_services.py
Due: backend-lint, backend-test

fix(backend): hide details from 500 responses
  backend/app/main.py
  backend/app/routers/movies.py
  backend/tests/conftest.py
  backend/tests/test_api.py
Due: backend-lint, backend-test

[backend] tighten rate limits and document proxy setup
  README.md
  backend/app/config.py
  backend/tests/test_rate_limit.py
  docker-compose.example.yml
Due: backend-lint, backend-test

[backend] make rate limits more aggressive
  README.md
  backend/app/config.py
  backend/tests/test_rate_limit.py
Due: backend-lint, backend-test

[backend] aggregate rate limits by endpoint
  backend/app/limiter.py
  backend/tests/test_rate_limit.py
Due: backend-lint, backend-test

[backend] align poster limit test with configuration
  backend/tests/test_rate_limit.py
Due: backend-lint, backend-test
