Repository kfstorm/douban-scout: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-lint, frontend-format, frontend-typecheck

backend-lint:
  name: Backend Lint
  entry: bash backend/scripts/lint.sh
  language: system
  pass_filenames: false

backend-test:
  name: Backend Tests
  entry: bash backend/scripts/test.sh
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint
  entry: npm --prefix frontend run lint
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Format Check
  entry: npm --prefix frontend run format:check
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Typecheck
  entry: npm --prefix frontend run typecheck
  language: system
  pass_filenames: false

[backend] implement subdomain fallback for poster proxy
  backend/app/routers/movies.py
Due: backend-lint, backend-test

[backend] improve data import robustness and genre extraction
  backend/app/services/import_service.py
  backend/tests/conftest.py
  backend/tests/test_services.py
Due: backend-lint, backend-test

[backend] fix cursor pagination tie-breaking and null handling
  backend/app/services/movie_service.py
  backend/tests/test_api.py
  backend/tests/test_services.py
Due: backend-lint, backend-test

[backend] expand linting scope and clean up code quality issues
  backend/pyproject.toml
  backend/scripts/format.sh
  backend/scripts/lint.sh
  backend/tests/conftest.py
  backend/tests/test_api.py
  backend/tests/test_services.py
Due: backend-lint, backend-test

[backend] implement atomic import and enable SQLite WAL mode
  .gitignore
  backend/app/database.py
  backend/app/services/import_service.py
  backend/tests/test_services.py
Due: backend-lint, backend-test

[backend] rename created_at to updated_at and store as Unix timestamp
  backend/app/database.py
  backend/app/schemas.py
  backend/app/services/import_service.py
  backend/app/services/movie_service.py
  backend/tests/conftest.py
Due: backend-lint, backend-test

[frontend] update movie card UI and consolidate search functionality
  frontend/src/App.tsx
  frontend/src/components/FilterSidebar.tsx
  frontend/src/components/MovieCard.tsx
  frontend/src/types/movie.ts
Due: frontend-lint, frontend-format, frontend-typecheck

[backend] exclude placeholders and non-media items from import count
  backend/app/services/import_service.py
  backend/tests/conftest.py
Due: backend-lint, backend-test

[frontend] fix IME compatibility in search bar
  frontend/src/components/SearchBar.tsx
Due: frontend-lint, frontend-format, frontend-typecheck

Add TODO
  TODO.md
Due: none

[backend] implement genre exclusion logic in movie search API
  backend/app/routers/movies.py
  backend/app/services/movie_service.py
Due: backend-lint, backend-test

[frontend] add genre exclusion support to filter sidebar and movie grid
  frontend/src/components/FilterSidebar.tsx
  frontend/src/components/MovieGrid.tsx
  frontend/src/services/api.ts
  frontend/src/store/useFilterStore.ts
Due: frontend-lint, frontend-format, frontend-typecheck

update TODO
  TODO.md
Due: none

[backend] fix genre extraction by falling back to subtitle field
  TODO.md
  backend/app/services/import_service.py
  backend/tests/conftest.py
  backend/tests/test_services.py
Due: backend-lint, backend-test

[frontend] implement URL synchronization for filters and sorting
  TODO.md
  frontend/src/App.tsx
  frontend/src/hooks/useUrlSync.ts
  frontend/src/store/useFilterStore.ts
Due: frontend-lint, frontend-format, frontend-typecheck

[feature] add year range filter
  TODO.md
  backend/app/routers/movies.py
  backend/app/services/movie_service.py
  backend/tests/test_year_filter.py
  frontend/src/components/FilterSidebar.tsx
  frontend/src/components/MovieGrid.tsx
  frontend/src/hooks/useUrlSync.ts
  frontend/src/services/api.ts
  frontend/src/store/useFilterStore.ts
Due: backend-lint, backend-test, frontend-lint, frontend-format, frontend-typecheck

[backend] refactor poster storage to support multiple URLs and smart proxying
  backend/app/database.py
  backend/app/routers/movies.py
  backend/app/services/import_service.py
  backend/tests/conftest.py
  backend/tests/test_services.py
Due: backend-lint, backend-test

[frontend] implement PosterImage component with loading and fallback states
  frontend/src/components/MovieCard.tsx
  frontend/src/components/PosterImage.tsx
Due: frontend-lint, frontend-format, frontend-typecheck

[backend] stop importing 'photos' field as posters
  TODO.md
  backend/app/services/import_service.py
  backend/tests/conftest.py
  backend/tests/test_services.py
Due: backend-lint, backend-test

[frontend] fix title filter persistence after page refresh
  frontend/src/components/SearchBar.tsx
Due: frontend-lint, frontend-format, frontend-typecheck

[backend] optimize SQLite performance and implement atomic database swaps
  .gitignore
  backend/AGENTS.md
  backend/README.md
  backend/app/database.py
  backend/app/services/import_service.py
  backend/app/services/movie_service.py
  backend/tests/conftest.py
  backend/tests/test_api.py
  backend/tests/test_services.py
Due: backend-lint, backend-test

[frontend] fix filter sidebar overflow and reset button accessibility
  frontend/src/components/FilterSidebar.tsx
Due: frontend-lint, frontend-format, frontend-typecheck

[frontend] show rating badge for unrated items
  frontend/src/components/MovieCard.tsx
Due: frontend-lint, frontend-format, frontend-typecheck

[backend] optimize movie schema and remove redundant fields
  backend/app/database.py
  backend/app/routers/movies.py
  backend/app/schemas.py
  backend/app/services/import_service.py
  backend/app/services/movie_service.py
  backend/tests/conftest.py
  backend/tests/test_api.py
  backend/tests/test_services.py
  backend/tests/test_year_filter.py
Due: backend-lint, backend-test

[frontend] adapt to optimized movie schema and construct URLs locally
  frontend/src/components/MovieCard.tsx
  frontend/src/components/PosterImage.tsx
  frontend/src/services/api.ts
  frontend/src/types/movie.ts
Due: frontend-lint, frontend-format, frontend-typecheck

[backend] disable SQLite same-thread check
  backend/app/database.py
Due: backend-lint, backend-test

[backend] implement in-memory caching for expensive queries
  backend/app/cache.py
  backend/app/routers/movies.py
  backend/app/services/import_service.py
  backend/app/services/movie_service.py
  backend/tests/conftest.py
  backend/tests/test_cache.py
Due: backend-lint, backend-test

[backend] secure data import API with API Key authentication
  backend/README.md
  backend/app/dependencies/__init__.py
  backend/app/dependencies/auth.py
  backend/app/routers/data_import.py
  backend/tests/conftest.py
  backend/tests/test_api.py
  backend/tests/test_cache.py
  backend/tests/test_services.py
Due: backend-lint, backend-test

[frontend] remove data import status and polling logic
  frontend/src/App.tsx
  frontend/src/components/ImportStatus.tsx
  frontend/src/services/api.ts
Due: frontend-lint, frontend-format, frontend-typecheck

[backend] sanitize database filename in documentation
  backend/AGENTS.md
  backend/README.md
Due: backend-lint, backend-test

[frontend] improve movie info accessibility on mobile
  frontend/src/components/MovieCard.tsx
Due: frontend-lint, frontend-format, frontend-typecheck

[frontend] add full title to movie info tooltip
  frontend/src/components/MovieCard.tsx
Due: frontend-lint, frontend-format, frontend-typecheck

[frontend] prevent horizontal scroll and improve tooltip responsiveness
  frontend/src/App.tsx
  frontend/src/components/FilterSidebar.tsx
  frontend/src/components/MovieCard.tsx
Due: frontend-lint, frontend-format, frontend-typecheck

[frontend] improve info icon visibility on posters
  frontend/src/components/MovieCard.tsx
Due: frontend-lint, frontend-format, frontend-typecheck

[docs] consolidate documentation and update project guides
  README.md
  TODO.md
  backend/AGENTS.md
  backend/README.md
  frontend/AGENTS.md
Due: backend-lint, backend-test, frontend-lint, frontend-format, frontend-typecheck

[backend] implement API rate limiting and frontend error handling
  README.md
  backend/AGENTS.md
  backend/app/config.py
  backend/app/database.py
  backend/app/dependencies/auth.py
  backend/app/limiter.py
  backend/app/main.py
  backend/app/routers/data_import.py
  backend/app/routers/movies.py
  backend/app/schemas.py
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/test_rate_limit.py
  backend/uv.lock
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/NotificationToast.tsx
  frontend/src/services/api.ts
  frontend/src/store/useNotificationStore.ts
Due: backend-lint, backend-test, frontend-lint, frontend-format, frontend-typecheck

[backend] automate environment variable documentation and explain rate limits
  .pre-commit-config.yaml
  README.md
  backend/AGENTS.md
  backend/app/config.py
  scripts/fix-all.sh
  scripts/sync_env_docs.py
Due: backend-lint, backend-test

[docs] rename project to 瓣影寻踪 (Douban Scout) and localize documentation
  AGENTS.md
  LICENSE
  README.md
  backend/app/cache.py
  backend/app/main.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/FilterSidebar.tsx
  frontend/src/components/MovieCard.tsx
  frontend/src/components/NotificationToast.tsx
Due: backend-lint, backend-test, frontend-lint, frontend-format, frontend-typecheck

[infra] add .env to .gitignore
  .gitignore
Due: none

[backend] reject concurrent import requests with 409 Conflict
  TODO.md
  backend/app/routers/data_import.py
  backend/app/services/import_service.py
  backend/tests/test_api.py
Due: backend-lint, backend-test

Path conditions:
  backend-lint: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-lint: any of: ^frontend/
  frontend-format: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
