Repository kfstorm/douban-scout: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-lint, frontend-format, frontend-typecheck

backend-lint:
  name: Backend Lint
  entry: bash backend/scripts/lint.sh
  language: system
  pass_filenames: false

backend-test:
  name: Backend Tests
  entry: bash backend/scripts/test.sh
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint
  entry: npm --prefix frontend run lint
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Format Check
  entry: npm --prefix frontend run format:check
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Typecheck
  entry: npm --prefix frontend run typecheck
  language: system
  pass_filenames: false

[frontend] add Vitest test framework with comprehensive test coverage
  .pre-commit-config.yaml
  AGENTS.md
  frontend/AGENTS.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/MovieCard.test.tsx
  frontend/src/components/PosterImage.test.tsx
  frontend/src/hooks/useInfiniteScroll.test.ts
  frontend/src/hooks/useTheme.test.ts
  frontend/src/hooks/useUrlSync.test.ts
  frontend/src/services/api.test.ts
  frontend/src/store/useFilterStore.test.ts
  frontend/src/store/useNotificationStore.test.ts
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
Due: frontend-lint, frontend-format, frontend-typecheck

[docs] add testing policy to AGENTS.md files
  AGENTS.md
  backend/AGENTS.md
  frontend/AGENTS.md
Due: backend-lint, backend-test, frontend-lint, frontend-format, frontend-typecheck

[backend] reduce get_movies max limit from 100 to 20
  backend/app/routers/movies.py
  backend/tests/test_api.py
Due: backend-lint, backend-test

[frontend] fix poster image overflow on hover
  frontend/src/components/MovieCard.tsx
Due: frontend-lint, frontend-format, frontend-typecheck

[backend] implement local poster image caching and rename database directory
  README.md
  backend/AGENTS.md
  backend/app/config.py
  backend/app/database.py
  backend/app/routers/movies.py
  backend/app/services/poster_service.py
  backend/tests/test_poster_cache.py
  backend/tests/test_rate_limit.py
Due: backend-lint, backend-test

[backend] make local poster cache TTL configurable
  README.md
  backend/app/config.py
  backend/app/services/poster_service.py
  backend/tests/test_poster_cache.py
Due: backend-lint, backend-test

[docs] translate environment variables to Chinese and update README
  README.md
  backend/app/config.py
  scripts/sync_env_docs.py
Due: backend-lint, backend-test

[backend] implement region support and decouple database initialization
  README.md
  backend/app/config.py
  backend/app/database.py
  backend/app/main.py
  backend/app/routers/movies.py
  backend/app/schemas.py
  backend/app/services/import_service.py
  backend/app/services/movie_service.py
  backend/tests/conftest.py
  backend/tests/test_regions.py
Due: backend-lint, backend-test

[frontend] implement region filtering and search
  frontend/src/components/FilterSidebar.tsx
  frontend/src/components/MovieCard.test.tsx
  frontend/src/components/MovieCard.tsx
  frontend/src/components/MovieGrid.tsx
  frontend/src/services/api.ts
  frontend/src/store/useFilterStore.test.ts
  frontend/src/store/useFilterStore.ts
  frontend/src/types/movie.ts
Due: frontend-lint, frontend-format, frontend-typecheck

[frontend] fix eslint-plugin-react-refresh version compatibility
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-format, frontend-typecheck

[backend/frontend] change default sorting to rating count desc
  backend/app/routers/movies.py
  backend/app/services/movie_service.py
  frontend/src/components/FilterSidebar.tsx
  frontend/src/hooks/useUrlSync.test.ts
  frontend/src/hooks/useUrlSync.ts
  frontend/src/store/useFilterStore.test.ts
  frontend/src/store/useFilterStore.ts
Due: backend-lint, backend-test, frontend-lint, frontend-format, frontend-typecheck

[frontend] fix sticky filter sidebar by allowing overflow on desktop
  frontend/src/App.tsx
Due: frontend-lint, frontend-format, frontend-typecheck

[frontend] implement automatic theme support with dropdown menu
  frontend/AGENTS.md
  frontend/src/components/ThemeToggle.tsx
  frontend/src/hooks/useTheme.test.ts
  frontend/src/hooks/useTheme.ts
Due: frontend-lint, frontend-format, frontend-typecheck

[frontend] fix sticky header by removing overflow on main container
  frontend/src/App.tsx
Due: frontend-lint, frontend-format, frontend-typecheck

[backend] implement substring search using trigram tokenizer
  backend/app/database.py
  backend/app/services/import_service.py
  backend/app/services/movie_service.py
  backend/tests/conftest.py
  backend/tests/test_api.py
  backend/tests/test_services.py
Due: backend-lint, backend-test

[backend] enhance ImportService extraction logic and add robust tests
  backend/app/services/import_service.py
  backend/tests/conftest.py
  backend/tests/test_services.py
Due: backend-lint, backend-test

[backend] add tag fallback for genre and region extraction
  backend/app/services/import_service.py
  backend/tests/conftest.py
  backend/tests/test_services.py
Due: backend-lint, backend-test

[backend] fix movie metadata extraction by allowing multi-source merging
  backend/app/services/import_service.py
  backend/tests/conftest.py
  backend/tests/test_services.py
Due: backend-lint, backend-test

[backend] implement robust movie metadata extraction for genres and regions
  backend/app/metadata_constants.py
  backend/app/services/import_service.py
  backend/tests/test_metadata_extraction.py
  scripts/generate_metadata.py
Due: backend-lint, backend-test

[backend] refine movie metadata extraction and update constants
  backend/app/metadata_constants.py
  backend/app/services/import_service.py
  backend/pyproject.toml
  backend/tests/test_metadata_extraction.py
  backend/tests/test_services.py
  scripts/generate_metadata.py
Due: backend-lint, backend-test

[backend] move generate_metadata.py to backend/scripts/
  backend/app/metadata_constants.py
  backend/pyproject.toml
  backend/scripts/generate_metadata.py
  scripts/generate_metadata.py
Due: backend-lint, backend-test

[frontend] respect CJK IME composing for region and genre filters
  frontend/src/components/FilterSidebar.tsx
Due: frontend-lint, frontend-format, frontend-typecheck

[frontend] fix filter sidebar jump on scroll
  frontend/src/components/FilterSidebar.tsx
Due: frontend-lint, frontend-format, frontend-typecheck

[backend] open source database read-only during import
  backend/app/services/import_service.py
Due: backend-lint, backend-test

[backend] make package installable with hatchling
  backend/AGENTS.md
  backend/pyproject.toml
  backend/scripts/test.sh
  backend/uv.lock
Due: backend-lint, backend-test

[infra] add Docker support and production deployment configuration
  .gitignore
  README.md
  backend/.dockerignore
  backend/Dockerfile
  backend/app/services/import_service.py
  docker-compose.example.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/docker-entrypoint.sh
  frontend/nginx.conf
Due: backend-lint, backend-test, frontend-lint, frontend-format, frontend-typecheck

[backend] switch to Alpine base image and optimize production build
  backend/Dockerfile
Due: backend-lint, backend-test

[backend] serve database in immutable mode
  backend/app/config.py
  backend/app/database.py
Due: backend-lint, backend-test

[frontend] add logo to application
  frontend/index.html
  frontend/public/logo.svg
  frontend/src/App.tsx
Due: frontend-lint, frontend-format, frontend-typecheck

[frontend] upgrade to Tailwind v4 and implement Catppuccin theme
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/public/logo.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/FilterSidebar.tsx
  frontend/src/components/MovieCard.test.tsx
  frontend/src/components/MovieCard.tsx
  frontend/src/components/MovieGrid.tsx
  frontend/src/components/NotificationToast.tsx
  frontend/src/components/PosterImage.test.tsx
  frontend/src/components/PosterImage.tsx
  frontend/src/components/SearchBar.tsx
  frontend/src/components/ThemeToggle.tsx
  frontend/src/hooks/useTheme.test.ts
  frontend/src/hooks/useTheme.ts
  frontend/src/index.css
  frontend/tailwind.config.js
  frontend/vite.config.ts
Due: frontend-lint, frontend-format, frontend-typecheck

[frontend] add theme-aware logos and dynamic favicon + banner switching
  frontend/index.html
  frontend/public/logo-dark.svg
  frontend/public/logo-light.svg
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/ThemeToggle.tsx
Due: frontend-lint, frontend-format, frontend-typecheck

[infra] update pre-commit dependencies and install script
  .pre-commit-config.yaml
  scripts/setup-hooks.sh
Due: none

[frontend] implement unified debouncing for all filters to reduce API calls
  frontend/src/components/MovieGrid.tsx
  frontend/src/hooks/useUrlSync.test.ts
  frontend/src/hooks/useUrlSync.ts
  frontend/src/store/useFilterStore.ts
Due: frontend-lint, frontend-format, frontend-typecheck

[frontend] prevent initial empty API calls by parsing URL params synchronously
  frontend/src/components/FilterSidebar.tsx
  frontend/src/hooks/useUrlSync.ts
  frontend/src/store/useFilterStore.ts
  frontend/src/utils/urlParams.test.ts
  frontend/src/utils/urlParams.ts
Due: frontend-lint, frontend-format, frontend-typecheck

[frontend] add GitHub link button and update theme docs
  frontend/AGENTS.md
  frontend/src/App.tsx
  frontend/src/components/GitHubIcon.tsx
Due: frontend-lint, frontend-format, frontend-typecheck

[docs] add deployed website URL to README
  README.md
Due: none

[docs] add source project link for data import
  README.md
  docker-compose.example.yml
Due: none

[frontend] fix reset filter not working
  frontend/src/store/useFilterStore.test.ts
  frontend/src/store/useFilterStore.ts
Due: frontend-lint, frontend-format, frontend-typecheck

[frontend] add toggle switches for year range filters
  frontend/src/components/FilterSidebar.test.tsx
  frontend/src/components/FilterSidebar.tsx
  frontend/src/test/setup.ts
Due: frontend-lint, frontend-format, frontend-typecheck

[frontend] fix rating filter not accepting 0 or 0.1
  frontend/src/components/FilterSidebar.test.tsx
  frontend/src/components/FilterSidebar.tsx
Due: frontend-lint, frontend-format, frontend-typecheck

Path conditions:
  backend-lint: any of: ^backend/
  backend-test: any of: ^backend/
  frontend-lint: any of: ^frontend/
  frontend-format: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
